APP_NAME=Comercio
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=America/Argentina/Salta

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=comercio
DB_USERNAME=comercio
DB_PASSWORD=comercio123

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

KEYCLOAK_BASE_URL=http://comercio_keycloak:8080
KEYCLOAK_REALM=Comercio
KEYCLOAK_CLIENT_ID=comercio-backend
KEYCLOAK_CLIENT_SECRET=null
KEYCLOAK_AUDIENCE=comercio-backend
KEYCLOAK_REALM_PUBLIC_KEY=
